.image {
    position: absolute;
    left: 39px;
    top: 35px;
    right: 300px;
    bottom: 35px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    clip-path: inset(0 100% 0 0);
    max-width: 1200px;
}

.active {
    clip-path: inset(0 0 0 0);
}