body {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container img {
    mix-blend-mode: exclusion;
}

.primary {
    background-color: var(--primary);
}

.background {
    background-color: var(--background);
}

.backgroundDark {
    background-color: var(--backgroundDark);
}